.Logo {
  --size: 30rem;
  --gap: 1rem;

  // https://www.calculator.net/triangle-calculator.html
  --top-scale: 0.57735;
  --gap-scale: 0.86603;
  --side-scale: 1.1547;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 1.5rem 1.5rem 0 white;

  .top {
    width: var(--size);
    height: var(--size);

    margin-block-start: calc((var(--top-scale) - 1) * var(--size));
    margin-block-end: calc(var(--gap-scale) * var(--gap));

    background-position: 21.685%;
    background-repeat: no-repeat;
    background-size: cover;

    &.flag-pride {
      background-image: url(../assets/flag-pride.svg);
    }

    &.flag-progress-1 {
      background-image: url(../assets/flag-progress-1.svg);
    }

    &.flag-progress-2 {
      background-image: url(../assets/flag-progress-2.svg);
    }

    &.angle-horizontal {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      transform: scaleY(var(--top-scale));
      transform-origin: bottom;
    }

    &.angle-diagonal {
      margin-inline-start: var(--size);
      transform: scale(0.707106781, 0.4082481) rotate(-45deg);
      transform-origin: bottom left;
    }
  }

  .sides {
    --bg-color: white;
    --text-color: var(--azul-caixa);

    font-size: calc(0.3 * var(--size));
    font-weight: bold;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    gap: var(--gap);

    > * {
      width: calc(var(--size) / 2);
      height: calc(var(--side-scale) * var(--size) / 2);

      display: flex;
      align-items: center;
    }

    .left {
      transform: skewY(30deg);
      transform-origin: bottom right;
    }

    .right {
      transform: skewY(-30deg);
      transform-origin: bottom left;
    }

    .text {
      width: 100%;
      text-align: center;
    }

    &.stripes-1,
    &.stripes-2,
    &.stripes-3 {
      .left,
      .right {
        border-block: calc(0.12 * var(--size)) solid var(--text-color);
        background: var(--bg-color);
      }
    }

    &.stripes-1 {
      .left {
        border-block-end-color: var(--laranja-caixa);
      }

      .right {
        border-block-start-color: var(--laranja-caixa);
      }
    }

    &.stripes-2 {
      .right {
        border-block-color: var(--laranja-caixa);
        color: var(--laranja-caixa);
      }
    }

    &.stripes-3 {
      .left,
      .right {
        border-block-end-color: var(--laranja-caixa);
      }
    }

    &.solid-bg,
    &.no-text {
      color: var(--bg-color);

      .left {
        background: var(--text-color);
      }

      .right {
        background-color: var(--laranja-caixa);
      }
    }

    &.no-text .text {
      display: none;
    }

    &.ff-eras {
      font-family: 'Eras Bold';
      font-size: calc(0.32 * var(--size));
    }
  }

  &.bg-black {
    background: black;
  }

  &.bg-blue {
    background: var(--azul-caixa);

    .sides {
      --bg-color: var(--azul-caixa);
      --text-color: white;
    }
  }

  &.bg-white {
    background: white;
  }

  &.filter-grayscale {
    filter: grayscale(1);
  }
}

@media (min-width: 520px) and (min-height: 600px) {
  .Logo {
    --size: 50rem;
  }
}
