// prettier-ignore
html { box-sizing: border-box; }
// prettier-ignore
*, *:before, *:after { box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'CAIXA Std', sans-serif;
  font-size: 1.6rem;
}

:root {
  --azul-caixa: rgb(0, 92, 169);
  --cinza-caixa: rgb(208, 224, 227);
  --laranja-caixa: rgb(243, 146, 0);
  --turquesa-caixa: rgb(84, 187, 171);
}

@font-face {
  font-family: 'CAIXA Std';
  src: url('./assets/CAIXAStdVariable.woff2') format('woff2-variations');
}
